<div class="header">
  <div class="container">
    <h1 class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <a href="http://www.7precisions.com" alt="7Precisions"><img src="{{ '/assets/img/7precisions_logo.png' }}" alt="" style="width: 100px; position: absolute;"> </a>
    <nav class="nav-collapse">
      <ul class="noList">
        <li> <a href="/index.html">Home</a></li>
        <li> <a href="http://www.7precisions.com/about">About</a></li>
        <li> <a href="http://www.7precisions.com/contactus">Contact</a></li>
        <li> <a href="https://github.com/CreoMark" target="_blank">GitHub</a></li>
      </ul>
    </nav>
  </div>
</div><!-- end .header -->